.header-wrapper {
  display: flex;
  justify-content: center;

  --menu-animation: right 450ms ease-in-out;
  --actions-links-height-mobile: 80px;
  --color-icon: var(--c-primary-black);
}

@media (prefers-reduced-motion) {
  .header-wrapper {
    --menu-animation: right 0 ease-in-out;
  }
}

.header {
  height: var(--nav-height);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background: var(--c-primary-white);
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--c-primary-black);
  z-index: 1;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__menu-overlay {
  display: none;
}

.header__logo-image {
  width: 32px;
  display: flex;
}

.header__logo-image.icon svg {
  height: 30px;
}

.header__link:any-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--c-tertiary-cool-gray);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--ff-body);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.16px;
  border-bottom: solid 2px transparent;
  padding: 12px 0;
}

.header--hamburger-open .header__link:hover,
.header--hamburger-open .header__link:focus,
.header--hamburger-open .header__link:active {
  border-bottom: solid 2px transparent;
}

.header__link:any-link:active {
  color: var(--c-primary-black);
}

.header__link .icon,
.header__link .icon svg,
.header__close-menu .icon,
.header__close-menu .icon svg {
  height: 36px;
  width: 36px;
}

.header__action-item--close-menu {
  margin-left: auto;
}

.header__close-menu {
  padding: 0;
  background: transparent;
  border: unset;
  display: flex;
  height: 24px;
  font-size: 24px;
  align-items: center;
  margin: 0;
}

.header__close-menu:focus,
.header__close-menu:hover {
  background-color: transparent;
}

.header__main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.header__main-nav-item {
  padding: 0;
  margin: 0 16px;
}

.header__link.header__main-nav-link.header__link-accordion {
  padding: 12px 0;
  justify-content: space-between;
  border-bottom: solid 1px var(--c-secondary-silver);
}

.header__link.header__link-accordion:any-link {
  justify-content: space-between;
  padding: 20px 0;
}

.header__link-accordion::after {
  content: '';
  background-image: url('/icons/dropdown-caret.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  transition: transform 300ms ease-in-out;
  background-position: center;
  transform: rotate(-90deg);
}

.header__actions {
  display: flex;
  gap: 24px;
}

.header__actions-list,
.header__main-links {
  display: flex;
  transition: var(--menu-animation);
  right: max(-375px, -95vw);
  position: absolute;
  width: 95vw;
  max-width: 375px;
  background: var(--c-primary-white);
}

.header .header__actions-list {
  list-style: none;
  margin: 0;
  gap: 24px;
  top: 0;
  padding: 16px;
  height: var(--actions-links-height-mobile);
  align-items: center;
}

.header__actions-list::after {
  content: '';
  border-bottom: solid 1px var(--c-secondary-silver);
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
}

.header__action-link.header__hamburger-menu {
  padding: 0;
  margin: 0;
  background: inherit;
  border: none;
  justify-content: center;
}

.header__main-links {
  top: var(--actions-links-height-mobile);
  padding: 0;
  height: calc(100vh - var(--actions-links-height-mobile));
  overflow: hidden auto;
}

.header__link.header__action-link {
  display: flex;
  flex-direction: column;
  padding: 0;

  --icon-color: var(--c-primary-black);
}

.header__action-link.header__action-link--button {
  background: var(--c-primary-gold);
  font-size: 14px;
  letter-spacing: 1.12px;
  padding: 16px 20px 12px;
  line-height: 1.1;
  color: var(--c-primary-black);
}

.header__action-link-text {
  font-size: 12px;
  line-height: 120%;
}

.header__mobile-actions {
  display: flex;
  gap: 16px;
}

.header__link-description {
  display: none;
}

.header--hamburger-open .header__menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(20 20 20 / 40%);
  width: 100vw;
  height: 100vh;
  display: block;
}

.header--hamburger-open .header__actions-list {
  right: 0;
  overflow: auto;
}

.header--hamburger-open .header__action-link-text {
  display: inline;
}

.header--hamburger-open .header__main-links {
  right: 0;
}

.header__category-items {
  height: 100%;
  overflow-y: auto;
}

.header .header__menu-content,
.header .header__category-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.header .header__category-items {
  margin: 0;
}

.header__back-button {
  margin: 0;
  padding: 20px 0;
  background: white;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--c-tertiary-cool-gray);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--ff-body);
  font-size: 16px;
  width: 100%;
  border: 0;
}

.header__back-button:focus,
.header__back-button:active {
  background-color: transparent;
}

.header__back-button::before {
  content: '';
  background-image: url('/icons/dropdown-caret.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

.header__category-items > .header__link:not(:first-of-type),
.header__menu-content picture,
.header__menu-content-footer {
  display: none;
}

.header__menu-open .header__menu-content,
.header__menu-open > .header__category-content > .header__category-items {
  display: flex;
  flex-direction: column;
}

.header__accordion-container {
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--c-primary-white);
  width: 100%;
  padding: 0 16px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  height: 100%;
  z-index: 1;
}

.header__menu-open > .header__accordion-container {
  transform: translateX(0);
}

.header__accordion-content-wrapper {
  overflow: hidden;
}

.header__category-item > *,
.header__category-item > .header__link:any-link {
  display: none;
}

.header__category-item a:first-of-type:any-link {
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.header__category-item h3 {
  display: flex;
  margin: 0;
}

.header__category-item h3 a {
  font-family: var(--ff-body);
  font-size: 16px;
}

/* truck/segment item styles start */

.header__main-link-wrapper--tabs-with-cards .header__category-item img {
  height: 160px;
  aspect-ratio: 16/9;
  width: auto;
}

.header__main-link-wrapper--tabs-with-cards .header__category-item ul {
  padding: 0;
  margin: 7px 0;
  gap: 16px;
}

.header__main-link-wrapper--tabs-with-cards .header__category-item ul li {
  width: auto;
  position: relative;
  font-family: var(--ff-body);
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--c-primary-black);
}

.header__main-link-wrapper--tabs-with-cards
  .header__category-item
  ul
  li::after {
  content: '';
  display: block;
  width: 1px;
  height: 11px;
  background: var(--c-secondary-steel);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

.header__main-link-wrapper--tabs-with-cards
  .header__category-item
  ul
  li:last-child::after {
  display: none;
}

.header__main-link-wrapper--tabs-with-cards .header__category-item p {
  margin: 5px 0 10px;
  color: var(--c-primary-black);
  font-family: var(--ff-body);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.14px;
}

/* truck/segment item styles end  */

@media (min-width: 744px) {
  .header {
    padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .header__nav {
    max-width: var(--wrapper-width);
  }

  .header__link:hover,
  .header__link:focus {
    border-bottom: solid 2px var(--c-tertiary-cool-gray);
  }

  .header__link:any-link:active {
    border-bottom: solid 2px var(--c-primary-black);
  }

  .header__action-link.header__hamburger-menu,
  .header__back-button {
    display: none;
  }

  .header__actions-list {
    border: unset;
    padding: 0;
    position: static;
    width: auto;
    height: auto;
  }

  .header__actions-list::after {
    display: none;
  }

  .header .header__actions-list {
    padding: 0;
    height: auto;
  }

  .header__main-links {
    height: auto;
    position: static;
    padding: 0 16px;
    width: auto;
    max-width: unset;
  }

  .header__category-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    width: 284px;
  }

  .header__category-item a:any-link {
    display: block;
  }

  .header__link-accordion::after {
    display: none;
  }

  .header__main-nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    width: auto;
  }

  .header__main-nav-item {
    border-bottom: unset;
    padding: 0;
    margin: 0;
  }

  .header__action-link {
    flex-direction: row;
  }

  .header__action-link-text {
    display: inline;
  }

  .icon.icon-user + .header__action-link-text {
    display: none;
  }

  .header__action-item--close-menu,
  .header__close-menu {
    display: none;
  }

  .header__main-nav-item .header__accordion-container {
    display: flex;
    position: relative;
    transform: translateX(0);
  }

  .header__main-nav-item > .header__accordion-container {
    position: fixed;
    background: var(--c-primary-white);
    width: var(--wrapper-width);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -8px 0 0 rgb(255 255 255), 0 10px 15px rgb(0 0 0 / 20%);
    top: var(--nav-height);
    transition: unset;
    overflow-y: auto;
    max-height: calc(100vh - 2 * var(--nav-height));
    display: none;
  }

  .header__main-nav-item.header__menu-open > .header__accordion-container {
    display: flex;
    min-height: 370px;
    flex-direction: column;
    justify-content: space-between;
  }

  .header__accordion-content-wrapper {
    display: flex;
    box-sizing: border-box;
    min-width: 180px;
    gap: 30px;
    overflow-y: auto;
    justify-content: center;
  }

  .header__main-nav-item
    > .header__accordion-container
    > .header__accordion-content-wrapper {
    padding: 32px 64px;
  }

  .header__link.header__link-accordion:any-link {
    padding: 12px 0;
    border-bottom: none;
  }

  .header__main-nav-link.header__link:any-link {
    border-bottom: solid 2px transparent;
  }

  .header__main-nav-link.header__link:hover,
  .header__main-nav-link.header__link:active,
  .header__main-nav-link.header__link:focus {
    border-bottom: solid 2px var(--c-grey-4);
  }

  .header__accordion-content-wrapper .header__menu-content {
    margin: 0;
    flex: 0;
  }

  .header__accordion-content-wrapper--with-images .header__menu-content {
    flex: 0 0 auto;
  }

  .header__accordion-content-wrapper--with-images .header__category-item {
    width: calc(100% / 3 - 22px);
  }

  .header__accordion-content-wrapper--with-images
    .header__category--images-list
    .header__category-item {
    width: 145px;
    min-width: 145px;
  }

  .header__category-subtitle,
  .header__category-item picture,
  .header__link-description {
    display: block;
  }

  .header__category-item img {
    width: 200px;
    height: auto;
  }

  .header__menu-heading:hover,
  .header__category-item .header__link:hover {
    text-decoration: underline;
  }

  .header .header__menu-content .header__menu-heading {
    font-size: 24px;
    letter-spacing: var(--f-heading-5-letter-spacing);
    line-height: var(--f-heading-5-line-height);
  }

  .header__category-subtitle {
    margin-bottom: 16px;
  }

  .header__category-subtitle:not(:empty) {
    font-size: 12px;
    letter-spacing: var(--f-caption-letter-spacing);
    line-height: var(--f-caption-line-height);
    margin-bottom: 40px;
    color: var(--c-grey-600);
  }

  .header .header__category-items {
    margin: 0;
    column-gap: 12px;
    row-gap: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .header__category-item .header__link {
    display: inline;
    padding: 0;
    border-bottom: solid 1px transparent;
    text-wrap: balance;
  }

  .header__category-item a:first-of-type {
    display: inline;
  }

  .header__category-item a::after {
    content: '';
    background-image: url('/icons/chevron-down.svg');
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    background-position: center;
    background-size: cover;
    display: inline-flex;
  }

  .header__link-description {
    font-size: 14px;
    letter-spacing: var(--f-subtitle-2-letter-spacing);
    line-height: var(--f-subtitle-2-line-height);
    color: var(--c-grey-500);
  }

  .header__menu-content-footer {
    display: flex;
    background: var(--c-grey-100);
    padding: 0 20px;
    justify-content: center;
  }

  .header__category--images-list .header__category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .header__category--images-list .header__category-item img {
    width: 100%;
  }

  .desktop-wrapper {
    display: flex;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .desktop-wrapper .header__accordion-container {
    min-width: 100%;
    max-width: 100%;
  }

  .header__category-item > * {
    display: flex;
  }

  .desktop-wrapper .header__category-item a::after {
    display: none;
  }

  .desktop-wrapper a.button {
    align-items: center;
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-flex;
    font-family: var(--ff-body);
    font-size: 14px;
    font-weight: normal;
    gap: 10px;
    justify-content: center;
    letter-spacing: 1.12px;
    line-height: var(--button-line-height);
    min-width: 128px;
    padding: 12px 20px 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color var(--duration-small) var(--easing-standard),
      color var(--duration-small) var(--easing-standard),
      border-color var(--duration-small) var(--easing-standard);
    color: var(--c-primary-black);
    margin: 0;
    text-transform: initial;
  }

  .desktop-wrapper .button.button--primary {
    background-color: var(--button-secondary-gold-enabled);
    color: var(--c-primary-black);
  }

  .desktop-wrapper .button--secondary {
    border: solid 1px var(--c-primary-black);
  }

  .desktop-wrapper .button.button:focus {
    background-color: var(--button-secondary-gold-hover);
  }

  .desktop-wrapper .button.button:active {
    background-color: var(--button-secondary-gold-pressed);
  }

  .desktop-wrapper .button .icon,
  .desktop-wrapper .button svg,
  .desktop-wrapper a .icon svg,
  .desktop-wrapper a.header__link .icon {
    width: 16px;
    height: 16px;
  }

  .header__main-link-wrapper--tabs-with-cards
    ul.header__category-item-buttons
    li::after {
    display: none;
  }

  .header__main-link-wrapper--tabs-with-cards .header__category-item picture {
    display: flex;
  }

  .header__main-link-wrapper--tabs-with-cards .header__category-item h3 {
    margin: 10px 0 5px;
  }

  .header__main-link-wrapper--tabs-with-cards .header__category-item h3 a {
    font-family: var(--ff-subheadings-medium);
    font-size: var(--headline-4-font-size);
    line-height: 130%;
    letter-spacing: 0.48px;
    font-weight: normal;
  }
}
